
@{
    ViewData["Title"] = "AccessDenied";
}
<div class="container">
    <div class="bg-danger mb-1 p-2 text-white">
        <h2>AccessDenied</h2>
    </div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ok</a>
</div>


